input {
    border: solid 2px;
    padding: 6px;
    border-radius: 15px;
    background-color:lightcyan;
}

.story {
    border: solid 2px;
    padding: 10px;
    border-radius: 20px;
    background-color:lightcyan;
}

label {
    font-size: 1.05em;
}

.whatHaveYouDone {
    border: solid 2px;
    padding: 10px;
    border-radius: 20px;
    background-color:darkseagreen;
    width: 95%;
    margin: auto;
}

body {
    background-color:lightsalmon;
}

#enter {
    display: block;
    width: 100%;
    margin: auto;
    height: 75px;
}